.sobre-mi{
    
    color: #595959;
    background: aliceblue;
}

@media screen and (min-width:768px) {
    .sobre-mi{
        display: flex;
        flex-direction: column;
        
    }
}